h3 {
  background-color: #008CBA;
  background-size: contain;
  text-align: center;
  text: bolder;
  text-decoration-line: underline;
}

.btn {
  display: block;
  background-color: #008CBA;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 50%; 
  border: 2px solid black;
  color: white;
  transition-duration: 0.5s;
}

/* #output {
  display: none;
} */

.nick {
  display: none;
}

.jane {
  display: none;
}

.ada  {
  display: none;
}

.bear {
  display: none;
}